:root {
    --bg-primary-color : #2E80CE;
    --bg-secondary-color : #10375C;
    --bg-third-color : #F6FBFF;
    --bg-fourth-color : #EAF6FF;

    --text-header-color : #C9D2DA;
    --text-footer-color : #AAB3BA;
    --text-main-heading-color : #10375C;
    --text-main-paragraph-color : #575F66;
}
